/* Different screen sizes */
@media all and (max-width: 380px){
	html section {
		margin: 5px auto;
	}
}

@media all and (max-width: 640px) {
	div.buttonset {
		display: block;
		margin: 10px;
	}
	.inlineButton {
		display: block;
		
	}
	html hr {
		margin: 10px;
		margin-top: 15px;
	}
	html .label {
		margin-top: 20px;
	}
	
	html .rmPlanned {
		font-size: 55px;
		position: absolute;
		top: 6px;
		right: 12px;
	}
	
	html section .inlineButton {
		padding-left: 0px;
		padding-right: 0px;
		margin: 10px;
		display: block;
	}
	
	input[type="text"] {
		margin: 10px;
	}
	
	ul {
		padding-left: 20px;
	}
}

@media all and (min-width: 640px) and (max-width: 1050px){
	html section {
		width: 590px;
		margin: 10px auto;
	}
	
	.buttonset {
		width: 270px;
	}
}

@media all and (min-width: 1050px) {
	html section {
		width: 880px;
		margin: 10px auto;
	}
	
	.buttonset {
		width: 270px;
	}
}

html {
	font-family: Sans-serif;
	background: #f0efe7 ;
}

header h1 {
	font-family: "Bree Serif";
	text-align: center;
	font-size: 2em;
	color: #222;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	color: #DC3311;
}

section {
	border: 1px solid #CCC;
	background: #FFF;
	padding: 10px;
	margin: 20px;
	padding-top: 0;
}

.hidden {display: none;}

.buttonset {
	height: 68px;
	display: inline-block;
	margin: 10px
}

.doublebutton {
	position: relative;
	margin: 0;
	padding: 0;
	bottom: -45px;
}

.label {
	margin: 0 0 10px 0 ; 
	font-size: 1.1em;
	margin
}

.buttonLeft, .buttonRight{
	display: block;

	min-width: 30px;
	max-width: 600px;
	width: 50%;

	position: absolute;
	bottom: 0px;	
}

.buttonLeft {left: 0px; }
.buttonRight{right: 0px; }

.singleButton {
	width: 100%;
	height: 22px;
	display: block;
}

html .inlineButton {	
	min-width: 120px;
	margin: 10px;
	
	padding-left: 15px;
	padding-right: 15px;
	
	display: inline-block;	 
	vertical-align: bottom;
}

.inlineButton, .singleButton, .buttonLeft, .buttonRight {
	text-decoration: none;
	color: #222;
	font-weight: bold;
	padding: 16px 0;
	text-align: center;
	border: 1px solid #CCC; 
	background: #FDFDFD; 
	height: 18px;
}

.inlineButton:hover, .singleButton:hover, .buttonLeft:hover, .buttonRight:hover {
	background: #F1F1F1;
}

hr {
	border: 1px solid #D5D5D5;
	margin: 10px;
}

.description {
	border: 1px solid #CCC; 
	background: #FDFDFD; 
	padding: 10px; 
	text-align: center; 
	font-style: italic;
	margin: 0 auto;
	overflow-x: auto;
}


input[type="text"], select {
	font-size: 1.3em;
	
	font-family: 'Open Sans', sans-serif;
	display: block;
	margin: 5px;
}

ul {
	border: 1px solid #CCC; 
	background: #FDFDFD;
	margin: 10px;
}

li {
	list-style: none;
	border-top: 1px solid #DDD;
	
	position: relative;
}

li:first-child {border-top-color: transparent;}

span.tag {
	font-weight: normal;
	text-transform: capitalize;
	font-size: 0.8em;
	display: inline-block;
	border: 1px solid #DDD;
	padding: 2px;
	border-radius: 2px;
	background: #EEE;
	color: #555;
}

.rmPlanned {
	font-size: 120px;
	position: absolute;
	top: -12px;
	right: 12px;
}

.rmPlanned a {
	color: #777;
	text-decoration: none;
}

.rmPlanned a:hover {
	color: #222;
}